.header {
	display: block;
	float: left;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	transition: all 0.2s linear, border 0s linear;

	&--fixed {
		position: fixed;
		border-top: 0px;
		border-bottom: 0px;
	}

	@media screen and (max-width: $screen-md-max) {
		border-bottom: 0px;
	}

	&__menubutton {

		display: none;
		position: relative;
		float: right;
		margin-top: 0px;
		margin-right: 0px;
		z-index: 1;

		.header--fixed & {
			margin-top: 5px;
		}

		@media screen and (max-width: $screen-md-max) {
			display: block;
		    margin-top: 0px;
		}

		.toggle {
			display: block;
			float: left;
			width: 70px;
			height: 49px;
			cursor: pointer;
			position: relative;
			transition: all 0.2s linear;

			span {
				display: block;
				position: absolute;
				height: 2px;
				width: 100%;
				background: $blue;
				border-radius: rem(0px);
				opacity: 1;
				width: 30px;
				left: 50%;
				margin-left: -15px;
				transform: rotate(0deg);
				transition: .25s ease-in-out;
			}

			span:nth-child(1) {
 				top: 14px;
			}

			span:nth-child(2), span:nth-child(3) {
  				top: 24px;
			}

			span:nth-child(4) {
  				top: 34px;
			}


			&.open span:nth-child(1) {
				top: rem(30px);
				width: 0%;
				left: 50%;
				margin-left: 0;
				background: #fff;
			}

			&.open span:nth-child(2) {
			  	transform: rotate(45deg);
			  	background: #fff;
			}

			&.open span:nth-child(3) {
			 	transform: rotate(-45deg);
			 	background: #fff;
			}

			&.open span:nth-child(4) {
				top: rem(30px);
				width: 0%;
				left: 50%;
				margin-left: rem(0px);
				background: #fff;
			}
		}
	}
}
