// COLORS (note: after change update modules/colors)
$bolue: #1a65a6;

// avo regex (\d+)px --> rem($1px)
// BREAKPOINTS
$screen-xxs-min:		320px;
$screen-xs-min:			480px;
$screen-sm-min:			768px;
$screen-md-min:			992px;
$screen-lg-min:			1200px;

$screen-xxs-max:		($screen-xxs-min - 1);
$screen-xs-max:			($screen-xs-min - 1);
$screen-sm-max:			($screen-sm-min - 1);
$screen-md-max:			($screen-md-min - 1);
$screen-lg-max:			($screen-lg-min - 1);
